# Forbid all.
*

# Allow what is needed inside Dockerfile, that it is not rust source code.
!docker
!patches_cmds
!patches_top_config.sh
!symlink_aws_fix.sh

# Allow needed rust code related files.
!.cargo
!Cargo.lock
!Cargo.toml
!.rustfmt*.toml
!cumulus
!node
!pallets
!runtime

