[submodule "subm/cumulus"]
	path = subm/cumulus
	url = https://github.com/paritytech/cumulus
[submodule "subm/open-runtime-module-library"]
	path = subm/open-runtime-module-library
	url = https://github.com/open-web3-stack/open-runtime-module-library
[submodule "subm/frontier"]
	path = subm/frontier
	url = https://github.com/paritytech/frontier
[submodule "subm/ptemplate"]
	path = subm/ptemplate
	url = https://github.com/substrate-developer-hub/substrate-parachain-template
[submodule "subm/aframe"]
	path = subm/aframe
	url = https://github.com/AstarNetwork/astar-frame
[submodule "subm/orml"]
	path = subm/orml
	url = https://github.com/open-web3-stack/open-runtime-module-library
